{% extends "blog_base/base.html" %}
{% load static %}

{% block header %}
<header class="site-header navbar">
<div class="content max-width">
  <a href="{% url "index" %}">
    <img class="logo" src="{% static 'blog/images/logo.png' %}" alt="Hun's Home Logo">
  </a>
  <nav>
    <ul class="navbar">
      {% if user.is_authenticated %}
        <li><a href="{% url "account_change_password" %}">비밀번호 변경</a></li>
        <li><a href="{% url "account_logout" %}">로그아웃</a></li>
        <li><a href="{% url "profile" user.id %}">내 프로필</a></li>
      {% else %}
        <li><a href="{% url "account_login" %}">로그인</a></li>
        <li><a href="{% url "account_signup" %}">회원가입</a></li>
      {% endif %}
      <li><a href="#">관리자</a></li>
    </ul>
  </nav>
</div>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div>hajihun76@gmail.com</div>
    <div>Crafted with passion by Jihoon Ha.</div>
  </div>
</footer>
{% endblock footer %}

