{% extends "blog_base/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}비밀번호 변경{% endblock title %}

{% block content %}
<main class="site-body">
  <div class="container-search">
    <div class="account-search">
      <div class="title">
        <a href="{% url 'index' %}">
          <img class="logo" src="{% static 'blog/images/logo.png' %}" alt="hun's Logo">
        </a>
      </div>
      <div class="cp-box account-password">
        <div class="title">
          <h1 class="heading">비밀번호 변경</h1>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div>
            {{ form.oldpassword|add_class:"cp-input"|attr:"placeholder:현재 비밀번호"|add_error_class:"error" }}
            {% for error in form.oldpassword.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <div>
            {{ form.password1|add_class:"cp-input"|attr:"placeholder:새 비밀번호"|add_error_class:"error" }}
            {% for error in form.password1.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <div>
            {{ form.password2|add_class:"cp-input"|attr:"placeholder:새 비밀번호 확인"|add_error_class:"error" }}
            {% for error in form.password2.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <button class="cp-button" type="submit">완료</button>
      </div>
    </div>
  </div>
</main>
{% endblock content %}