{% extends "blog_base/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}비밀번호 찾기{% endblock title %}

{% block content %}
<main class="site-body">
  <div class="container-search">
    <div class="account-search">
      <div class="title">
        <a href="{% url 'index' %}">
          <img class="logo" src="{% static 'blog/images/logo.png' %}" alt="hun's Logo">
        </a>
      </div>
      <div class="cp-box account-password">
        <div class="title">
          <h1 class="heading">비밀번호 찾기</h1>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div>
            {{ form.email|add_class:"cp-input"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요."|add_error_class:"error" }}
            {% for error in form.email.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <button class="cp-button button" type="submit">이메일 보내기</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}