body {
  background: url("../images/bg.jpg") no-repeat center top/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  word-break: keep-all;
}

/* 기본적으로 추가할 수 있는 기본 스타일들 */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.card {
  border: none;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.card-custom {
  min-height: 350px;
}