{% extends "blog_base/base_with_navbar.html" %}
{% load static %}

{% block title %}Gallery{% endblock title %}

{% block content %}
<main class="site-body">
  <div class="button_sample">
    <a href="{% url "post_list_create" %}">목록 작성</a>
  </div>
  <div class="container box">
    <div class="post_container">
      {% for post in posts %}
        <div class="post post_index">
          <a href="{% url "post_list_detail" post.id %}">
            <div class="thumb" style="background-image: url('{{ post.thumb.url }}');"></div>
            <h2>{{ post.title }}</h2>
            <p class="text">{{ post.content }}</p>
          </a>
          <p class="last">{{ post.created_at }}</p>
          <div class="last_position">
            <a class="cp-button up_de" href="{% url 'post_list_delete' post.id %}">삭제</a>
            <a class="cp-button up_de" href="{% url 'post_list_edit' post.id %}">수정</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}