{% extends "blog_base/base_with_navbar.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}새 이미지 작성{% endblock title %}

{% block content %}
<main class="site-body">
  <form class="review-form max-content-width" method="post" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="content">
      {{ form.content|add_class:"cp-input"|add_error_class:"error"|attr:"placeholder:사진에 대한 설명이나 감상을 적어주세요." }}
      {% for error in form.content.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div class="file">
      <div class="file-content">
        <div>  
          {{ form.image }}
          {% for error in form.image.errors %}
            <div class="error-message">{{ error }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="buttons">
      <a 
        class="cp-button secondary cancel" 
        href="{% if review %}{% url 'review-detail' review.id %}{% else %}{% url 'index' %}{% endif %}"
      >
        취소
      </a>
      <button class="cp-button submit" type="submit">완료</button>
    </div>
  </form>
</main>
{% endblock content %}